<div class="container">
	<div class="row">
		
		<div class="col-md-7">
			<div class="thumbnail img-responsive">
					<% if @post.image_content_type %>
						<%= image_tag @post.image.url, class: "img-responsive"%>
					<% end %>
			</div>	
		</div>

		<div class="col-md-4">

					<h3>By</h3>
					<%= @post.username %>
					<hr>

					<h3>Title</h3>
					<%= @post.title %>
					<hr>
							
					<h3>Description</h3> 
					<%= @post.description %>
					<hr>

					<h3>Date</h3>
          <%= @post.date %>
					<hr>

					<%#= @post.latitude %>
					<%#= @post.longitude %>

					<br>
					<% if (@post.user_id == current_user.id) %>
					<%= link_to 'Edit', edit_post_path, class: "btn btn-success"%>
					<%= link_to 'Delete', @post, {method: :delete, data: {confirm: "Are you sure you want to delete this adorable photo?"}, class: "btn btn-danger"} %>
					<% end %>
		</div>
		
	</div>
</div>
