<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Baby Cloud</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Explore", posts_index_path %></li>
        <li><%= link_to "Upload", posts_new_path %></li>
        <!-- <li><%#= link_to current_user.name, user_path(current_user.name.gsub(" ", "_")) %></li> -->
        <li class="round-image-50"><%= image_tag(current_user.avatar.url) %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>